body {
  background-image: url(../images/back.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #030301;
  min-width: 1800px;
  max-width: 1900px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 41%;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
nav {
}
.active {
  background-color: #4caf50;
}
h1 {
  color: white;
  text-align: center;
  margin-top: 7%;
  font-size: 500%;
  margin-bottom: 0%;
}
h2 {
  color: white;
  text-align: center;
  font-size: 200%;
  margin-top: 1%;
}
.about {
  padding-top: 40%;
}
p {
  color: white;
  text-align: center;
  font-size: 150%;
  margin-top: 0%;
  margin-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}
.border {
  border-style: solid;
  border-color: white;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
}
footer {
  float: inline-end;
  margin-top: 5%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  color: white;
  bottom: 0;
}
.dev {
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  float: right;
  margin-right: 15%;
  margin-top: 6%;
  margin-bottom: 5%;
}
.developer {
  float: right;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.offer {
  float: left;
  margin-top: 9%;
  margin-left: 5%;
}
.borderOffer {
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  margin-top: 10%;
}
.products {
  margin-top: 60%;
  margin-bottom: 30%;
}
.basic {
  width: 20%;
  height: 500px;
  margin-left: 10%;
  position: absolute;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.advanced {
  width: 20%;
  height: 500px;
  margin-left: 40%;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 15px;
}
.business {
  width: 20%;
  height: 500px;
  margin-left: 70%;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 15px;
}
button {
  margin-top: 11%;
  margin-left: 10%;
  width: 80%;
  height: 50px;
  background-color: #4caf50;
  font-size: 200%;
  border-radius: 30px;
  border-style: solid;
  color: white;
}
button:hover {
  color: black;
  background-color: gold;
}
